.tech {
  position: relative;

  &__description {
    box-shadow: 1px 0 15px 15px rgba(0, 0, 0, 0.3);
    max-width: 1980px;
    height: 100vh;
    margin: 0 auto;

    &__text {
      width: 80%;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      margin: 45px auto;
      font-weight: 400;
      font-size: 1.8rem;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
    }


    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 200px;
      margin-left: -40px;
      transition: 1.5s;

      &__print {
        display: flex;
        margin: 0 auto;
      }

      &__item {
        transition: transform 0.6s;
        transform-style: preserve-3d;
        margin-top: 5.5%;
        margin-left: 50px;
        align-items: center;
        list-style: none;
        transition: 0.5s;
        cursor: pointer;

        &--is-active {
          transform: rotateY(360deg);
        }

        &:hover {
          transform: scale(110%);
        }

        img {
          transition: transform 1s;
        }
      }
    }
  }

  .tx-start {
    position: absolute;
    font-size: 2em;
    transform: rotateX(180deg) rotateY(180deg);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;
    margin-top: -100px;
  }

  .node-logo {
    width: 85px;
    margin-left: -10px;
    margin-bottom: -10px;
  }

  .ts-logo {
    width: 55px;
  }

  .bg-color {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 0.65;
    transform: rotateX(180deg) rotateY(180deg);
  }

}

.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: none;

  .swiper {
    width: 85%;
    height: 100%;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .swiper-slide img {
      height: 480px;
      width: 640px;
      border-radius: 10px;
      transition: 0.3s ease-in-out;
    }

    .swiper-slide img:hover {
      box-shadow: 0 0 13px 3px rgba(33, 33, 33, 0.999);
      transform: scale(110%);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
    margin-left: -80px;
    margin-right: -80px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

}

@media (max-width: 1980px) {
  .tech {

    &__description {
      max-width: 1366px;

      &__text {
        font-size: 1.56rem;
      }
    }
  }

  .carrousel {
    .swiper {
      width: 80%;
      .swiper-slide img {
        height: 360px;
        width: 480px;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      transform: scale(80%);
      color: #fff;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

@media (max-width: 1366px) {
  .tech {
    max-height: 100%;

    &__description {
      box-shadow: 1px 0 15px 15px rgba(0, 0, 0, 0.3);

      &__text {
        width: 85%;
        font-size: 1.3rem;
      }

      &__list {
        display: flex;

        &__item {
          margin-left: 15px;

          img {
            width: 50px;
            margin: 20px auto;
          }
        }
      }
    }

    .node-logo {
      width: 60px;
      margin-left: 5px;
      margin-bottom: 15px;
    }
    
    .ts-logo {
      width: 50px;
    }

    .carrousel {
      .swiper {
        .swiper-slide img {
          height: 340px;
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .tech {
    height: 100%;

    &__description {
      box-shadow: 1px 0 15px 15px rgba(0, 0, 0, 0.3);

      &__text {
        width: 85%;
        font-size: 1.3rem;
      }

      &__list {
        display: flex;

        &__item {
          margin-left: 15px;
          padding-top: 100px;

          img {
            width: 18px;
            margin: 20px auto;
          }
        }
      }
    }

    .tx-start {
      margin-top: -60%;
      font-size: 1.5rem;
    }

    .node-logo {
      width: 20px;
      margin-left: 0;
      margin-bottom: 15px;
    }
    
    .ts-logo {
      width: 20px;
    }

    .carrousel {
      .swiper {
        .swiper-slide img {
          height: 200px;
          width: 250px;
        }
      }
    }
  }
}